/* vinicius apacite */
@media screen and (min-width:1024px){
    .menu_mobile {
        display: none;
    }
    .mobile_toggle {
        display: none;
    }
}

@media screen and (min-width:300px) and (max-width:1024px) {
    html, body {
        font-size: 100%;
        width: 100%;
        margin: 0 auto;
    }
    div.box {
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
    }
   .mobile_toggle {
        width: 100%;
        height: 50px;
        float: right;
        position: absolute;
   }
   .mobile_toggle > img {
        float: right;
        height: 40px;
        width: 40px;
        cursor: pointer;
   }
   #menu_mobile {
        display: none;
   }
    #menu_mobile {
        width: 100%;
        display: none;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        padding: 10rem 0;
        margin-top: 2rem;

        animation: animenu 1s ease-in;

        background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
        backdrop-filter: blur(5px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 20px;
        overflow-y: hidden;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 99;
    }
    #menu_mobile > a {
        color: white;
        text-decoration: none;
        font-size: 28px;
        display: block;
    }
    @keyframes animenu {
        0% {
            height: 0;
            padding: 0;
        }
        70% {
            top: 100%;
            height: 600px;
        }
        100% {
            top: 100%;
            height: 600px;
            z-index: 5;
        }
    }
    .menu {
        display: none;
    }
    div.content {
        width: 100%;
        height: 100%;
        float: none;
        margin: 0 auto;
        position: initial;
    }
    .content > img {
        width: 100%;
        max-width: 300px;
    }
    .content > h1 {
        width: 100%;
        min-width: 100%;
        font-weight: 500;
        font-size: 50px;
        margin: 0 auto;
        text-align: justify;
    }
    div.content > h1 > span {
        font-size: 50px;
    }
    div.center_2 {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }
    div.center_3  {
        margin-top: 2rem;
    }
    .banner_Hero {
        width: 100%;
        float: none;
        height: 100%;
        position: initial;
    }
     div.banner_Hero::after{
        display: none;
    }
    div.banner_Hero::before {
        display: none;
    }
    .align {
        position: initial;
        float: none;
        z-index: 1;
    }
    .align > img {
        float: none;
        position: relative;
        width: 100%;
        margin-top: 2rem;
    }
    .align::after {
        display: none;
    } 
    div.experience {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        text-align: left;
        margin: 3rem 0;
        height: 100%;
        width: 100%;
    }
    .category {
        width: 100%;
        max-width: 100%;
        align-items: left;
        justify-content: left;
        text-align: left;
        align-items: center;
        margin: 1rem 0;
        height: 100%;
    }
    .category > h2 {
        font-size: 35px;
    }
    .category > p {
        margin-left: 20px;
    }
    .category > span {
        display: none;
    }
    .left {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .left > h1 {
        font-size: 45px;
        font-weight: 500;
    }
    .left > p {
        width: 100%;
    }
    .right {
        width: 100%;
        height: 100%;
        float: none;
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
    }
    .box_row  {
        width: 100%;
        margin-top: 2rem;
    }
    .center_4 {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .left_2 {
        width: 100%;
        height: 100%;
        float: none;
        margin: 0 auto;
    }
    .right_2  {
        width: 100%;
        height: 100%;
        float: none;
        margin: 0 auto;
    }
    .content_card  {
        width: 100%;
        height: 100%;
        margin: 5rem auto;
    }
    .content_card  > p {
        width: 100%;
        height: 100%;
    }
    .center_5 {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .left_3 {
        width: 100%;
        height: 100%;
        float: none;
    }
    .right_3 {
        width: 100%;
        height: 100%;
        float: none;
        margin: 4rem auto;
        text-align: center;
    }
    .analysis {
        width: 100%;
        margin: 0 auto;
    }
    .analysis > img {
        margin: 0 auto;
        margin-top:5rem;
        text-align: left;
    }
    .content_car_2 {
        width: 100%;
        height: 100%;
    }
    .content_car_2 > h1 {
        font-size: 45px;
        width: 100%;
        font-weight: 500;
        text-align: left;
    }
    .content_car_2 > p {
        width: 100%;
        height: 100%;
    }
    .center_6 {
        width: 100%;
        height: 100%;
    }
    .col_flex {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        text-align: left;
    }
    .card {
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }
    .card > h1 {
        font-size: 45px;
        width: 100%;
        font-weight: 500;
    }
    .text_into {
        width: 100%;
    }
    .center_7 {
        width: 100%;
        margin: 8rem auto;
    }
    .box_1 {
        margin: 0 auto;
    }
    .card_buy {
        width: 100%;
        margin: 2rem auto;
        text-align: center;
        float: none;
    }
    .card_buy > img {
        width: 100%;
        max-width: 90%;
        min-width:60%;
        height: 100%;
        margin: 0 auto;
        float: none;
    }
    .line {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    .line_row {
        flex-direction: column;
        gap: 40px;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    .line_row > img {
        margin: 0 auto;
    }
    .service {
        width: 100%;
        height: 100%;
        padding: 25px;
    }
    .box_1 {
        min-width: 100%;
        margin-top: 3rem;
    }
    .serv_col {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .serv_col > h1 {
        width: 100%;
        font-size: 40px;
    }
    .serv_col > p {
        width: 100%;
        height: 100%;
    }
    .serv_col > button {
        position: relative;
        top: 0;
        right: 0;
    }
    .blur {
        display: none;
    }
    .box_coll {
        width: 100%;
        padding: 10px;
    }
    .box_row {
        height: 150px;
    }
    .card_mobile {
        display: flex;
        gap: 0;
        text-align: left;
    }
    .card_mobile  > img {
        width: 140px;
        max-width: 90%;
        display: flex;
        gap: 20px;
        cursor: pointer;
    }

}